#header {
  background: #232323;
  bottom: 0;
  color: $sidebarTextLight;
  font-size: 18px;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  scrollbar-color: #5A5A5A #2E2E2E;
  top: 0;
  width: 400px;

  .upper {
    background: #131313;
    height: 320px;
    margin-bottom: -170px;
  }

  #region-select {
    margin-top: 30px;

    h2 {
      color: #FF9494;
      font-size: 1.5rem;
      font-weight: normal;
      margin: 0;
      padding: 0;
      padding-left: 15px;

      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
      transform: translate3d(0, 0, 0);
    }
  }

  h3 {
    color: $sidebarTextDark;
    font-size: 20px;
    margin: 21px 0 17px 0;
    padding-left: 15px;
  }

  input[type=radio]:not(old) {
    display: none;
    margin: 0;
    padding: 0;
    width: 14px;
  }

  input[type=radio]:not(old) + label {
    cursor: pointer;
    display: block;
    line-height: 1;
    padding: 7px 0 7px 37px;

    &:hover {
      background-color: #131313;
    }
  }

  input[type=radio]:not(old):checked + label {
    background: $selectedRegionBg url('../img/checkmark.png') no-repeat 17px 10px;
    color: $link;
  }
}

#header::-webkit-scrollbar {
  background: #2E2E2E;
}

#header::-webkit-scrollbar-thumb {
  background: #5A5A5A;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}