nav {
  border-bottom: 4px solid rgba(white, .1);
  @extend .clearfix;

  h1 {
    margin: 0;
  }
  
  .title {
    color: $sidebarTextLight;
    display: block;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    margin: 17px 0;

    &:hover {
      color: $link;
    }
  }

  .menu {
    display: flex;
    justify-content: space-evenly;

    a {
      color: $richText;
      display: inline-block;
      font-size: 1.4rem;
      //margin: 0 20px;
      padding: 16px;
      position: relative;
      text-decoration: none;

      &:after {
        background: $link;
        bottom: -4px;
        box-shadow: 0 0 8px $link;
        content: "";
        height: 4px;
        left: 50%;
        position: absolute;
        transition: width .2s ease, left .2s ease;
        width: 0;
      }
  
      &:hover {
        color: $link;
      }
  
      &:hover:after {
        left: 0;
        width: 100%;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  #github {
    svg {
      fill: $richText;
      height: auto;
      transition: fill .3s ease;
      width: 60px;
    }

    &:hover > svg {
      fill: $link;
    }
  }

  #patreon {
    padding-bottom: 14px;

    svg {
      fill: $richText;
      height: auto;
      width: 105px;
    }

    &:hover > svg {
      fill: $link;
    }

    &:hover:after {
      bottom: -4px;
    }
  }
}