/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


@media all and (max-width: 1888px) {
  #update-notice {
    margin-left: -350px;
    width: 1000px;
  }
}

@media all and (max-width: 1500px) {
  #update-notice {
    margin-left: -225px;
    width: 900px;
  }
}