/* Colors
   ========================================================================== */

/* Primaries */
$primary100: #040E1A;
$primary200: #253143;
$primary300: #3A4C63;
$primary400: #4D6485;
$primary500: #889BB7;
$primary600: #AEBDD4;
$primary700: #DDE4EE;

/* Accents */
$accent100: #6A3A00;
$accent200: #9A5603;
$accent300: #C77A1B;
$accent400: #F89820;
$accent500: #FFBD6A;
$accent600: #FFD5A1;
$accent700: #FFEED8;

/* Cool Grays */
$gray100: #28292B;
$gray200: #414448;
$gray300: #5E6268;
$gray400: #737880;
$gray500: #989FAA;
$gray600: #BEC5D1;
$gray700: #EBEEF2;
 
/* Greens */
$green100: #023400;
$green200: #024400;
$green300: #0C7208;
$green400: #1C9E17;
$green500: #49BB45;
$green600: #92D28F;
$green700: #D5F1D4;

/* Reds */
$red100: #290000;
$red200: #440000;
$red300: #720808;
$red400: #A22121;
$red500: #BB4545;
$red600: #D28F8F;
$red700: #F1D4D4;

/* Alerts */
$alert100: #3A2B02;
$alert200: #614907;
$alert300: #8E6C0F;
$alert400: #B18817;
$alert500: #CFAA42;
$alert600: #E1C985;
$alert700: #F9F2DC;