/* Colors
   ========================================================================== */

/* Main Colors (Ordered Light to Dark */
$text:             #E7E8FE;
$richText:         #BEC0EF;
$uberRichText:     #B4B7FF;
$pageBg:           #6C709E;
$componentBg:      #545988;
$searchBg:         #4C507E;
$regionBg:         #535785;
$componentHeader:  #434772;
$headerBg:         #3B3B6E;
$jsonBtnHover:       #636898;

/* Greens */
$green100: #023400;
$green200: #024400;
$green300: #0C7208;
$green400: #1C9E17;
$green500: #49BB45;
$green600: #92D28F;
$green700: #D5F1D4;

/* Reds */
$red100: #290000;
$red200: #440000;
$red300: #720808;
$red400: #A22121;
$red500: #BB4545;
$red600: #D28F8F;
$red700: #F1D4D4;

/* Alerts */
$alert100: #3A2B02;
$alert200: #614907;
$alert300: #8E6C0F;
$alert400: #B18817;
$alert500: #CFAA42;
$alert600: #E1C985;
$alert700: #F9F2DC;

/* Border Radius
   ========================================================================== */

$searchRadius: 13px;